/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
    /* Makima */
    /* --heading-color: #e2c49c; */
    /* --body-color: #c45454; */

    /* Leafy Bench */
    --heading-color: #425e33;
    --body-color: #a1723e;
}

* {
    margin: 0;
    padding: 0;
    font-size: 28px;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "VT323", monospace;
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
}

.image-container {
    flex: 1;
    width: auto;
    align-content: center;
    text-align: center;
}
img {
    max-height: 80vh;
    height: auto;
    width: auto;
}

@media (max-width: 992px) {
    img {
        width: 70%;
    }
}

@media (max-width: 576px) {
    img {
        width: 30%;
    }
}

nav {
    flex: 1;
    display: grid;
    /* gap: 50px; */
    grid-template-areas:
        "header header"
        "subheader subheader"
        "list1 list2"
        "list3 list4";
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 80vh;
    justify-content: start;
    align-content: space-evenly;
}

h1 {
    grid-area: header;
    color: var(--heading-color);
    font-size: 2.5rem;
}
h2 {
    grid-area: subheader;
    color: var(--body-color);
}
ul {
    gap: 0px;
    margin-bottom: 10px;
}
li {
    color: var(--heading-color);
    text-decoration: none;
    list-style: none;
    margin-bottom: 2px;
}
li:first-child {
    font-size: 1.5rem;
}

a {
    list-style: none;
    color: var(--body-color);
    text-decoration: none;
    justify-self: left;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
